<!DOCTYPE html>
<!-- Report generated {{reportDate}} -->
<!-- Report prepared by wbs-markdown (https://github.com/brainlid/wbs_markdown) version {{version}} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{assets}}
    <title>{{reportTitle}}</title>
  </head>
  <body>
    {{content}}
    <footer>
      <p>Powered by <a href="https://github.com/brainlid/wbs_markdown" target="_blank">wbs-markdown</a></p>
    </footer>
  </body>
</html>
