<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{{reportTitle}}</title>
  </head>

<!--
  Loaded the config file settings to be available here in the report.
-->
<script>
  var reportConfig = {{reportConfig}}
</script>

  <body>
    <div class="container">
      <main role="main" id="vue-root">

        <h1 class="filters">Filters</h1>
        <div class="display-filter">
          <div class="radio">
            <label>
              <input type="radio" value="new-only" v-model="show_mode">
              New Only
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" value="existing-only" v-model="show_mode">
              Existing Structure Only
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" value="show-all" v-model="show_mode">
              All
            </label>
          </div>
        </div>

        {{content}}

      </main>
    </div> <!-- /container -->
  </body>


  <style>
    h1, h2, h3 {
      margin-top: 1em;
      margin-bottom: 16px;
      font-weight: bold;
    }
    h2 {
      padding-bottom: 0.3em;
      font-size: 1.75em;
      line-height: 1.225;
      border-bottom: 1px solid #eee;
    }
    p { margin: 0; }
    ul {
      padding-left: 2em;
      list-style-type: square;
    }
    li.wbs-item {
      position: relative;
    }

    /* story-label */
    .story-label {
      position: absolute;
      left: 0px;
      top: 2px;
    }
    .story-label .label {
      visibility: hidden;
    }
    li.wbs-item:hover .story-label .label {
      visibility: visible;
    }
    .story-label .label.show-always {
      visibility: visible;
    }
    .story-label .label-anchor {
      position: absolute;
      left: -30px;
    }
    .story-label .label-anchor .label {
      position: absolute;
      right: 0;
    }
    .progress {
      margin-bottom: 0;
    }

    li.story {
      list-style-type: none;
    }
    li.story .story-work-display {
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      text-align: right;
      vertical-align: middle;
    }
    li.story .story-work-display .total-progress {
      display: inline-block;
      width: 200px;
    }
    li.story .story-work-display .work-total {
      position: relative;
      vertical-align: top;
      display: inline-block;
      /* supported differently in various browsers */
      cursor: pointer;
      cursor: hand;
    }
    li.story .story-work-display .work-total .toggle-story-details {
      position: absolute;
      right: -25px;
      top: 0;
      display: inline;
    }
    li.task-parent .sub-work-display {
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      text-align: right;
      vertical-align: middle;
    }
    li.task-parent .sub-work-display .total-progress {
      display: inline-block;
      width: 200px;
    }
    li.task-parent .sub-work-display .work-total {
      vertical-align: top;
      display: inline-block;
      color: blue;
      margin-top: 2px;
      margin-left: 10px;
      font-weight: bold;
    }
    li.wbs-item.show-tick {
      list-style: none;
    }
    li.wbs-item.show-tick:hover {
      background-color: rgba(225, 235, 245, 0.5);
    }
    li.wbs-item .work-amount {
      position: absolute;
      top: 0;
      right: 15px;
      width: 50px;
      text-align: right;
      display: inline-block;
      color: #666;
    }
    i.fa {
      margin: 0.25em 0 0 -1.4em;
      position: absolute;
    }
    .task-indicator.show-incomplete {
      background-color: pink;
      box-shadow: red 0px 0px 10px;
    }
    .task-indicator.show-complete {
      background-color: lightgreen;
      box-shadow: green 0px 0px 10px;
    }
  </style>

  <script type="text/x-template" id="stories-chart-template">
    <div style="position: relative; width:100%;" v-bind:style="{ height: getHeight() + 'px' }">
    <!-- <div style="position: relative; height: 80px; width:100%;"> -->
      <canvas id="stories-chart" ref="canvas"></canvas>
    </div>
  </script>

  <script type="text/x-template" id="tick-display">
    <span>
      <i v-if="done == false" class='fa task-indicator show-incomplete fa-square-o'></i>
      <i v-if="done == true" class='fa task-indicator show-complete fa-check-square-o'></i>
    </span>
  </script>

  <script type="text/x-template" id="progress-bar">
    <div class="total-progress" title="Percent Complete">
      <div class="progress">
        <div class="progress-bar" v-bind:class="classObject" v-bind:style="{ width: getPercent() + '%' }">{{ getPercent() }}%</div>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="wbs-item-template">
    <li v-bind:class="classObject">
      <span v-if="mode == 'story'">
        <content>
          <div class="checkbox">
            <label>
              <input type="checkbox" v-model="storyIncluded" @click="toggleIncludeStory">
              <slot></slot>
            </label>
          </div>
        </content>
        <div class='story-work-display'>
          <bs-percentage :total="getStoryTotalWork()" :done="getStoryWorkDone()"></bs-percentage>
          <div class='work-total' title="Estimated Time" @click="toggleExpandStory">
            {{ workEstimateDisplay() }}
            <a href="#" class="toggle-story-details" @click.stop.prevent="toggleExpandStory">
              <i v-show="!storyExpanded" class="fa fa-angle-up"></i>
              <i v-show="storyExpanded" class="fa fa-angle-down"></i>
            </a>
          </div>
        </div>
        <div v-show="storyExpanded">
          Confidence Level: {{storyConfidence}}%
        </div>
      </span>

      <span v-if="mode == 'work-item'">
        <story-label :story="link"></story-label>
        <slot></slot>
        <div v-if="user_work" class='work-amount' title="Estimated Time">
          {{ workEstimateDisplay() }}
        </div>
      </span>

      <span v-if="mode == 'none'">
        <content>
          <slot></slot>
        </content>
        <div class='sub-work-display' v-if="showProgress">
          <bs-percentage :total="totals.totalWork" :done="totals.totalDone"></bs-percentage>
          <div class='work-total' title="Estimated Time">
            {{ workEstimateDisplay() }}
          </div>
        </div>
      </span>
    </li>
  </script>

  <script>
    Vue.component('stories-chart', {
      props: ['stories', 'story_work'],
      template: '#stories-chart-template',
      mounted: function() {
        this.chart = new Chart(this.$refs.canvas, {
          type: 'horizontalBar',
          data: {
            labels: this.chartLabels,
            datasets: this.chartDatasets
          },
          options: this.chartOptions()
        });
      },
      data: function() {
        return {
          // setup in mounted()
          chart: null,
          chartLabels: [],
          chartDatasets: []
        }
      },
      watch: {
        stories: function() {
          this.chartLabels = this.$props.stories || []
          if (this.chart) {
            this.chart.data.labels = this.chartLabels;
            this.chart.update();
          }
          this.updateDatasets()
        },
        story_work: function() {
          this.updateDatasets()
        }
      },
      methods: {
        chartOptions: function() {
          return {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              xAxes: [{
                // stacked: true
              }],
              yAxes: [{
                // stacked: true,
                ticks: {
                  beginAtZero:true
                }
              }]
            }
          }
        },
        getHeight: function() {
          // 3 bars show per story. 130px for 1 bar (includes legend and padding)
          return 100 + (this.$props.stories.length * 30);
        },
        updateDatasets: function() {
          var estimatedSet = [];
          var doneSet = [];
          var actualSet = [];
          var _this = this;
          _.forEach(_this.chartLabels, function(story) {
            var storyList = _this.$props.story_work[story]
            estimatedSet.push(_.sumBy(storyList, 'estimate.amount'))
            doneSet.push(_.sumBy(_.filter(storyList, 'done'), 'estimate.amount'))
            actualSet.push(_.sumBy(storyList, 'actual.amount'))
          })
          this.chartDatasets = [
            {
              label: 'hours estimated',
              data: estimatedSet,
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
            },
            {
              label: 'hours done',
              data: doneSet,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            },
            {
              label: 'hours actual',
              data: actualSet,
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255,99,132,1)',
              borderWidth: 1
            }
          ]
          if (this.chart) {
            this.chart.data.datasets = this.chartDatasets
            this.chart.update()
          }
        }
      },
      beforeDestroy () {
        if (this.chart) {
          this.chart.destroy()
        }
      }
    })

    Vue.component('bs-percentage', {
      props: ['total', 'done'],
      template: '#progress-bar',
      methods: {
        getPercent: function() {
          return Math.round(this.done / this.total * 100) || 0;
        }
      },
      computed: {
        classObject: function () {
          return {
            // show as "green/success" if > 95% complete
            'progress-bar-success': this.getPercent() >= 95.0,
          }
        }
      }
    })

    Vue.component('tick-display', {
      props: ['done'],
      template: '#tick-display'
    })

    Vue.component('story-label', {
      template: '<div class="story-label"><span class="label-anchor"><span v-bind:class="classObject">{{storyName}}</span></span></div>',
      props: ['story'],
      computed: {
        classObject: function () {
          return {
            'label': true,
            'show-always': this.isUnlinked,
            'label-danger': this.isUnlinked,
            'label-primary': this.isLinked
          }
        },
        isUnlinked: function() {
          return _.isEmpty(this.$props.story) || this.$props.story == "null";
        },
        isLinked: function() {
          return !this.isUnlinked;
        },
        storyName: function() {
          if (this.isUnlinked) {
            return "unlinked"
          }
          else {
            return this.$props.story
          }
        }
      }
    })

    Vue.component('wbs-item', {
      // declare the props
      // - showmode - passed from root, showing "all", "new-only", or "existing-only"
      // - done - "true" if flagged as complete
      // - work - "1", "2"... passed as a string, represents hours of work
      // - actual - Track reported actual work reported by user.
      // - link - string that connects a work-item to a story. Value is the story number.
      // - story - string that labels a wbs-item as a story. Value is the story number.
      // - stories - Array of story numbers that selected for display
      // - story_work - Array of objects that tracks total and done work for a story.
      props: ['link', 'story', 'stories', 'story_work', 'work', 'actual', 'showmode', 'done'],
      template: '#wbs-item-template',
      data: function() {
        // NOTE: props come in as strings unless explicitly bound to Vue like this...
        // <wbs-item :work=3 :done=true story="123">Contents</wbs-item>
        // Most of my "data" values are "computed" so they can process the input
        // and I don't have to Regex HTML as much.
        return {
          storyIncluded: true,
          storyExpanded: false,
          childWork: [],
          storyConfidence: 0
        }
      },
      watch: {
        stories: function() {
          // NOTE: this watch doesn't fire on "story_work", which is what it should be.
          //       That's an object though. It didn't work as a computed property
          //       either because it only fired once and it wasn't the object with
          //       values, it was an Observer with none of the values set.
          var value = 0;
          if (this.mode == "story") {
            value = weightedConfidence(this.$props.story_work[this.$props.story])
          }
          this.storyConfidence = value
        }
      },
      mounted: function() {
        // When "mounted" event fires, all children are already mounted and available.
        var list = [];
        _.forEach(this.$children, function(child) {
          list = _.concat(list, child.user_work, child.childWork)
        })
        this.childWork = _.compact(list)

        // once mounted, fire event that registers this item with the root.
        this.$emit("register", this)
      },
      computed: {
        excludedByStorySelection: function() {
          return this.getExcludedByStorySelection(this.$props.stories)
        },
        showProgress: function() {
          // show the progress when not a story or work-item and has total to
          // display. But don't show even then if showmode is for "existing-only"
          var nonWorkItemAndHasWork = (this.mode == "none" && this.totals.totalWork > 0)
          return nonWorkItemAndHasWork && this.$props.showmode != "existing-only";
        },
        classObject: function () {
          return {
            'wbs-item': true,
            'story': this.mode == "story",
            'task-parent': this.showProgress,
            'show-tick': this.user_work,
            // 'show-tick': !this.showProgress && this.user_work,
            'hidden': this.shouldHide()
          }
        },
        unlinked: function() {
          return (this.mode == "work-item") && (this.user_link == "null")
        },
        totals: function() {
          var _this = this
          var workForSelection = _.filter(this.childWork, function(work) {
            return _this.includeForStories(_this.$props.stories, work)
          })
          return {
            workItems: workForSelection,
            // compute done from all self and all children. If ALL done the true.
            done: _.every(workForSelection, {'done': true}),
            // sum of all work items expressed in hours
            totalWork: _.sumBy(workForSelection, 'estimate.amount') || 0,
            totalDone: _.sumBy(_.filter(workForSelection, 'done'), 'estimate.amount') || 0,
          }
        },
        mode: function() {
          // if flagged as a "story", operate as that only
          if (!_.isEmpty(this.$props.story)) {
            return "story"
          }
          // if defines work, "work-item"
          if (!_.isEmpty(this.$props.work)) {
            return "work-item"
          }
          return "none"
        },
        user_done: function() {
          return this.$props.done == "true";
        },
        // Get the user_link value (ie. what the user said an item links to)
        user_link: function() {
          if (this.mode == "work-item") {
            return _.isEmpty(this.$props.link) ? "null" : this.$props.link;
          }
          else {
            return null;
          }
        },
        // Get the user specified work estimate and recorded actual (if given)
        user_work: function() {
          // if (!_.isEmpty(this.$props.work)) {
          if (this.mode == "work-item") {
            return {
              for_story: this.user_link,
              done: this.user_done,
              estimate: workEstimate(this.$props.work || "", 1),
              actual: workActual(this.$props.actual || "")
            }
          }
          else {
            return null;
          }
        }
      },
      methods: {
        shouldHide: function() {
          // don't hide a story
          if (this.mode == "story") {
            return false
          }
          if (this.mode == "work-item") {
            // if this should be hidden based on the story display selections
            if (this.excludedByStorySelection) {
              return true
            }

          }
          // hide if set to "new-only" and does not define new work nor contain
          // children that define work
          if (this.$props.showmode == "new-only") {
            return (this.user_work == null) && this.totals.workItems.length == 0;
          }
          // hide if set to "existing-only" and defines new work
          if (this.$props.showmode == "existing-only") {
            return this.mode == "work-item";
          }
          return false;
        },
        // Story: when a story's checkbox for inclusion is toggled, emit the event
        toggleIncludeStory: function(_event) {
          if (this.mode == "story") {
            this.$emit("togglestory", this.$props.story)
          }
        },
        // Story: when a story's drop-down/close-up chevron is clicked for exposing more details is toggled
        toggleExpandStory: function(_event) {
          if (this.mode == "story") {
            this.storyExpanded = !this.storyExpanded
          }
        },
        includeForStories: function(stories, work) {
          // have a link and link is NOT included in what to display, return to exclude
          return _.includes(stories, work.for_story);
        },
        getExcludedByStorySelection: function(storyList) {
          if (this.mode == "work-item") {
            // have a link and link is NOT included in what to display, return to exclude
            return (!_.isEmpty(this.user_link) && !_.includes(storyList, this.user_link));
          }
          return false;
        },
        getStoryTotalWork: function() {
          var data;
          if (this.mode == "story") {
            data = this.$props.story_work[this.$props.story]
          }
          else if(this.mode == "work-item") {
            data = this.$props.story_work[this.$props.link]
          }
          return _.sumBy(data, 'estimate.amount') || 0
        },
        getStoryWorkDone: function() {
          var data;
          if (this.mode == "story") {
            data = this.$props.story_work[this.$props.story]
          }
          else if(this.mode == "work-item") {
            data = this.$props.story_work[this.$props.link]
          }
          return _.sumBy(_.filter(data, 'done'), 'estimate.amount') || 0
        },
        workEstimateDisplay: function() {
          switch (this.mode) {
            case "work-item":
              return this.user_work.estimate.display
            case "story":
              var storyWork = _.sumBy(this.story_work[this.story], 'estimate.amount') || 0
              return workDisplayBest(storyWork)
            case "none":
              return workDisplayBest(this.totals.totalWork)
            default:
              return ""
          }
        }
      }
    })

    // create a root instance
    new Vue({
      el: '#vue-root',
      data: {
        show_mode: "new-only",
        checked_stories: [],
        story_work: {},
        total_work: 0,
        stories: [],
        workItems: []
      },
      mounted: function() {
        // The root node is the last one to be mounted. Set the checked_stories
        // to all the stories once mounted. Triggers the items to evaluate
        // their totals based on story inclusion.
        this.checked_stories = _.map(this.stories, 'story')
      },
      methods: {
        registered: function(child) {
          // track stories
          if (child.mode == "story") {
            this.stories.push(child)
          }
          // track work-items
          if (child.mode == "work-item") {
            this.workItems = _.concat(this.workItems, child)
            this.addStoryWork(child.user_link, child.user_work, child.user_done)
          }
        },
        addStoryWork: function(story, userWork, isDone) {
          var storyData = this.story_work[story] || []
          this.story_work[story] = _.concat(storyData, userWork)
        },
        storyToggled: function(story) {
          // Go off of this.stories so the stories stay in a predictable order
          // when toggled on and off.
          this.checked_stories = _.compact(_.map(this.stories, function(story) {
            if (story.storyIncluded) {
              return story.story;
            }
            return null;
          }));
        },
      }
    })

    // Convert a work estimate like "1w" to an object structure where the value
    // is converted to the lowest unit (hours) and the confidence is assigned.
    function workEstimate(value, defaultAmount) {
      // regex supports fractional hours "5", "3h", "2.5d"
      var matches = value.match(/(\d+\.?\d*)([h|d|w|m]?)/i)
      var workAmount = defaultAmount
      var workUnit = reportConfig.defaultWorkUnit
      // if found the 2 parts (original text plus the 2 captures)
      if (matches && matches.length == 3) {
        workAmount = _.toNumber(matches[1]);
        if (!_.isEmpty(matches[2])) {
          workUnit = matches[2]
        }
      }
      return {
        display: workAmount.toString() + workUnit,
        user_unit: workUnit.toLowerCase(),
        amount: workAmount * reportConfig.unitConversion[workUnit],
        confidence: reportConfig.workUnitConfidencePct[workUnit]
      }
    }

    // Convert an "actual" estimate like "3.5h" to an object structure where the
    // value is converted to the lowest unit (hours). Same as `workEstimate`
    // but without the confidence percent.
    function workActual(value) {
      // use workEstimate, default missing amount to 0
      var est = workEstimate(value, 0)
      return _.omit(est, ['confidence'])
    }

    // Display the amount in hours to a "best fit" unit for showing total
    // estimated work time
    function workDisplayBest(amountHours) {
      // Cycle through the unitConversions and stop at the "best" fit.
      // Best is when it is >= 1
      reportConfig.unitConversion
      var bestFit = {amount: 0, unit: ""}
      _.forEach(reportConfig.unitConversion, function(conversionAmount, unit) {
        var testAmount = (amountHours / conversionAmount).toPrecision(2)
        if (testAmount >= 1.0) {
          bestFit["amount"] = testAmount
          bestFit["unit"] = unit
        }
      })
      return bestFit.amount.toString() + bestFit.unit.toString()
    }

    // Compute the weighted average for the confidence values for a story.
    function weightedConfidence(storyWork) {
      // computed the weighted average for the confidence value.
      // takes the amount of work at it's level of confidence compared to total work.
      // https://en.wikipedia.org/wiki/Weighted_arithmetic_mean
      // (item1.amount * item1.confidence) + (item2.amount * item2.confidence) / (item1.amount + item2.amount)

      var numerator = _.sumBy(storyWork, function(work) { return work.estimate.amount * work.estimate.confidence })
      var denominator = _.sumBy(storyWork, 'estimate.amount')
      return Math.round(numerator / denominator)
    }
  </script>
</html>
